<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="mangr_mang_post">
  <table width="216" border="1">
    <tr>
      <td width="105">Manager Name</td>
      <td width="95"><label for="manager"></label>
      <input type="text" name="manager" id="manager" /></td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td><input type="date" name="textfield2" id="textfield2" />
      
      </td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td><label for="qualification"></label>
      <input type="text" name="qualification" id="qualification" /></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><label for="contact"></label>
      <input type="text" name="contact" id="contact" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label for="email"></label>
      <input type="text" name="email" id="email" /></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><label for="address"></label>
      <textarea name="address" id="address" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" id="Submit" value="Submit" />
        <input type="submit" name="Reset" id="Reset" value="Reset" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
