<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/registration_post">
  <table width="247" border="1">
    <tr>
      <td width="106">Institution Name</td>
      <td width="125"><label for="institution"></label>
      <input type="text" name="institution" id="institution" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="place"></label>
      <input type="text" name="place" id="place" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="pin"></label>
      <input type="text" name="pin" id="pin" /></td>
    </tr>
    <tr>
      <td> Post</td>
      <td><label for="post"></label>
      <input type="text" name="post" id="post" /></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label for="district"></label>
      <input type="text" name="district" id="district" /></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><label for="contact"></label>
      <input type="text" name="contact" id="contact" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label for="email"></label>
      <input type="text" name="email" id="email" /></td>
    </tr>
    <tr>
      <td>Website</td>
      <td><label for="website"></label>
      <input type="text" name="website" id="website" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" id="Submit" value="Submit"  />
        <input type="submit" name="Reset" id="Reset" value="Reset"  />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
