<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get" enctype="multipart/form-data">
<table border="1">
 
  <tr>
    <td width="78">Name</td>
    <td width="507"><input type="text" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0" />
        Male
        </label>
       <label>
        <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1" />
        Female        </label>
       <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
       Other
        </label
     
        
      ></p>
      <p><br />
      </p></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td><input type="date" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td>Photo</td>
    <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
  </tr>
  <tr>
    <td height="111">Semester</td>
    <td>Semester 1
      <input type="radio" name="Semester" id="Semester1" value="radio" />
      Semester 2
      <label for="radio"></label>
      <input type="radio" name="Semester" id="Semester2" value="radio" />
      <label for="radio"></label>
     Semester 3
     <input type="radio" name="Semester" id="Semester3" value="radio" />
      <label for="radio"></label>
     Semester 4
     <input type="radio" name="Semester" id="Semester4" value="radio" />
     Semester 5
      <label for="radio"></label>
     <input type="radio" name="Semester" id="Semester5" value="radio" />
     Semester 6
      <label for="radio"></label>
     <input type="radio" name="Semester" id="Semester6" value="radio" />
      <label for="radio"></label>
     Semester 7
     <input type="radio" name="Semester" id="Semester7" value="radio" />
     Semester 8
      <label for="radio"></label>
     <input type="radio" name="Semester" id="Semester8" value="radio" />
      <label for="radio"></label>
     
      
      </td>
    
  </tr>
  <tr>
    <td>Department</td>
    <td><select name="Select" id="Select">
      </select></td>
  </tr>
  <tr>
    <td>Course</td>
    <td><label for="Select"></label>
      <select name="Select2" id="Select">
      </select></td>
  </tr>
  <tr>
    <td height="111">Address</td>
    <td><textarea name="Address" id="Address" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td>Guardian Name</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Email of Guardian</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Contact Number of Guardian</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="Submit" id="Submit" value="Save" />
      <input type="submit" name="Reset" id="Reset" value="Reset" />
    </div></td>
    </tr>
</table>
</form>
</body>
</html>
