<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table  border="1">
    <tr>
      <td width="20">#</td>
      <td width="153">Institution Name</td>
      <td width="51">Address</td>
      <td width="48">Contact</td>
      <td width="53">Email &amp; Website</td>
    </tr>
    {%for i in data%}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;{{ i['place'] }}<br/>{{ i['post'] }}<br/>{{ i['pin'] }}<br/>{{ i['district'] }}</td>
      <td>&nbsp;{{ i['contact1'] }}<br/>{{ i['contact2'] }}</td>
      <td>&nbsp;{{ i['email'] }}<br/>{{ i['website'] }}</td>
      <td><a href="/incoming_req_reject/{{ i['lid'] }}">Reject</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
