<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/sub_alloc_post">
  <table  border="1">
    <tr>
      <td>Department</td>
      <td>Course</td>
      <td>Subject</td>
      <td>Teacher</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><label for="Department"></label>
        <select name="Department" id="Department">
      </select></td>
      <td><label for="Course"></label>
        <select name="Course" id="Course">
      </select></td>
      <td><label for="Course"></label>
        <select name="Course2" id="Course">
      </select></td>
      <td><label for="Teacher"></label>
      <input type="text" name="Teacher" id="Teacher" /></td>
      <td><input type="submit" name="Assign" id="Assign" value="Assign" /></td>
    </tr>
  </table>
</form>
</body>
</html>
